body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    background-color: #d8eefe;
}

header {
    text-align: center;
    color: #094067;
    letter-spacing: 0.2px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container .gridcell
{
    background-color: #fffffe;
}

.row {
    flex: 1;
    width: 3.125vh;
    height: 3.125vh;
    box-sizing: border-box;
    border: 1px solid black;
}
.options
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 100px;
}
.options button
{
    background: #3da9fc;
    color: #fffffe;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    border: 2px solid white;

}
.options button:hover
{
    background: #90b4ce;
    cursor: pointer;
}
.options input
{
    outline: none;
    text-align: center;
    font-weight: bold;

}
.changeDim
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}